@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: #C6ACCA;
    padding: 20px;
    display: flex;
    font-family: "Inika", serif;
}

header svg{
    width: 200px;
    height: 80px;
}

header nav ul{
    margin-top: 30px;
}

header nav ul li{
    display: inline;
    margin-right: 65px;
}

header nav ul li a{
    background-color: #542D5A;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
}

.geral{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 100%;
}

.formulario{
    height: 500px;
    margin-top: 50px;
    margin-left: 40px;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    
}
.formulario h1{
    font-family: "Inika", serif;
    font-size: 60px;
    margin-left: 120px;
    letter-spacing: 1px;
}
.formulario li{
    font-family: "Inika", serif;
    font-size: 30px;
    margin-top: 20px;
    display: block ;
    overflow:visible;
}
.formulario p{
    margin-left: 70px;
    font-size: 25px;
    font-weight: bold;
}
.inp-nome{
    width: 240px;
    border-radius: 15px;
    background: #542D5A;
    height: 35px;
    color: white;
    font-family:"inika", sans-serif;
    font-size:17px;
}
.inp-nome::placeholder{
    color: white;
    margin-left: 15px;
}
.inp-email{
    width: 240px;
    border-radius: 15px;
    background: #542D5A;
    height: 35px;
    color: white;
    font-family:"inika", sans-serif;
    font-size:17px;
}
.inp-email::placeholder{
    color: white;
}
.inp-obs{
    width: 240px;
    border-radius: 15px;
    background: #542D5A;
    height: 35px;
    color: white;
    font-family:"inika", sans-serif;
    font-size:17px;

}
.inp-obs::placeholder{
    color: white;
}
.inp-cpf{
    width: 240px;
    border-radius: 15px;
    background: #542D5A;
    height: 35px;
    color: white;
    font-family:"inika", sans-serif;
    font-size:17px;

}
.inp-cpf::placeholder{
    color: white;
}

.formulario button{
    background: #C6ACCA;
    color: #542D5A;
    border-radius: 15px;
    width: 170px;
    height: 30px;
    margin-top: 60px;
    margin-left: 25px;
    font-size: 20px;
}
.fotos{
    grid-column-start: 2;
}
.doce{
    width: 700px;
    height: 543px;
    border-radius: 40px;
}